RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Remove the .php extension
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^(.*)$ $1.php    

    # Clean URL
    RewriteRule ^category/([a-zA-Z0-9-]+) category.php?title=$1
    RewriteRule ^post/([a-zA-Z0-9-]+) post.php?title=$1

    ErrorDocument 404 http://127.0.0.1/pw2022_b_213040046/tubes/404.php